#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(Clock.png) no-repeat;
    background-size: 75%;
}

#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1.9%;
    height: 12.9%;
    top: 35.5%;
    left: 35.3%;
    opacity: 1;
}
#minute{
    width: 1.5%;
    height: 17.8%;
    top: 29.3%;
    left: 37%;
    opacity: 1;
}
#second{
    width: 1%;
    height: 19.9%;
    top: 27%;
    left: 37.5%;
    opacity: 1;
}